<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>index</title>
</head>

<body>
    <header><a th:href="@{/logout}">Logout</a></header>
    <h2>Upload File</h2>
    <form method="post" th:action="@{/uploadFile}" enctype="multipart/form-data" th:object="${myFile}">
        Id: <input type="text" th:field="*{id}"> <br /> <br />
        File: <input type="file" th:field="*{image}"  accept="image/png, image/jpeg" /> <br /> <br />
        Description: <input type="text" th:field="*{description}" /> <br /> <br />
        <input type="submit" value="Submit" />
    </form>

</body>

</html>